<div class="row">
  <h3 class="col-sm-12 text-center">Shape</h3>
</div>

<div class="row">
  <p class="col-sm-12">
    Select a tag shape:
  </p>
</div>

<div class="row">
  <a class="tagShape col-sm-3 col-xs-12" (click)="selectShape('bone')">
    <img src="/assets/images/bone.svg">
  </a>
  <a class="tagShape col-sm-3 col-xs-12" (click)="selectShape('rectangle')">
    <img src="/assets/images/rectangle.svg">
  </a>
  <a class="tagShape col-sm-3 col-xs-12" (click)="selectShape('circle')">
    <img src="/assets/images/circle.svg">
  </a>
  <a class="tagShape col-sm-3 col-xs-12" (click)="selectShape('heart')">
    <img src="/assets/images/heart.svg">
  </a>
</div>
