<div class="row">
  <div class="col-sm-12 text-center">
    <h3>Shape</h3>
    <p class="form-text text-muted">Choose your desired tag shape.</p>
  </div>
</div>

<div class="row">
  <a class="tagShape col-sm-3" (click)="selectShape('bone')">
    <img src="/assets/images/bone.svg">
  </a>
  <a class="tagShape col-sm-3" (click)="selectShape('rectangle')">
    <img src="/assets/images/rectangle.svg">
  </a>
  <a class="tagShape col-sm-3" (click)="selectShape('circle')">
    <img src="/assets/images/circle.svg">
  </a>
  <a class="tagShape col-sm-3" (click)="selectShape('heart')">
    <img src="/assets/images/heart.svg">
  </a>
</div>
