<div class="row">
  <p class="col-sm-12">
    Select a tag shape:
  </p>
</div>

<div class="row">
  <a class="tagShape col-sm-3 col-xs-12" (click)="selectShape('bone')">
    <img src="/assets/images/bone.svg">
  </a>
  <a class="tagShape col-sm-3 col-xs-12" (click)="selectShape('rectangle')">
    <img src="/assets/images/rectangle.svg">
  </a>
  <a class="tagShape col-sm-3 col-xs-12" (click)="selectShape('circle')">
    <img src="/assets/images/circle.svg">
  </a>
  <a class="tagShape col-sm-3 col-xs-12" (click)="selectShape('heart')">
    <img src="/assets/images/heart.svg">
  </a>
</div>

<div class="row">
  <div class="col-sm-12">
    <label for="font">Select type style:</label>
    <select
      id="font"
      name="font"
      [(ngModel)]="fontType"
      (change)="selectFont(fontType)">
        <option value="sans-serif">Sans-serif</option>
        <option value="serif">Serif</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <label for="tagText">Tag Text:</label>
    <input
      id="tagText"
      type="text"
      [(ngModel)]="tagTextInput"
      (input)="addText(tagTextInput)"
      maxlength="8" />
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <label>
      <input
        type="checkbox"
        [(ngModel)]="tagClip"
        (change)="includeClip(tagClip)"> Include Clip
    </label>
  </div>
</div>
