<p>
  Click a tag shape to select it:
</p>

<button class="btn btn-primary" (click)="createTag()">START</button>

<div class="row">
  <a class="tagShape col-md-3" (click)="selectShape('bone')">
    <img src="/assets/images/bone.svg">
  </a>

  <a class="tagShape col-md-3" (click)="selectShape('rectangle')">
    <img src="/assets/images/rectangle.svg">
  </a>

  <a class="tagShape col-md-3" (click)="selectShape('circle')">
    <img src="/assets/images/circle.svg">
  </a>

  <a class="tagShape col-md-3" (click)="selectShape('heart')">
    <img src="/assets/images/heart.svg">
  </a>
</div>

<div class="row" *ngIf="shape">
  <p class="col-sm-12"><strong>You have selected:</strong> {{shape}}</p>
  <button class="btn btn-primary">Next</button>
</div>

<div class="row">
  Select font: <a (click)="selectFont('Arial')">Arial</a> | <a (click)="selectFont('Times New Roman')">Times New Roman</a>
</div>